.header-logo-image {
    width: 200px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    
    .header-item {
        display: block;
        display: flex;
        align-items: center;      
        color: #2c3e50;   
        text-decoration: none; 

        .header-item-icon {
            color: #2c3e50;   
        }
        
        .header-item-signin-or-out {
            font-weight: bold;
            color: #2c3e50;   
            margin: 0 0.5rem;
            text-decoration: none;
        }
        .header-item-signin:hover {
            text-decoration: underline;
        }
    }
}

